.form-screen{
    display: flex;
    height: 100vh;
}

.form-screen-product{
    display: flex;
}

.form-screen img{
    width: 50%;
    object-fit: cover;
}

.form-screen-container{
    display: flex;
    gap: 25px;
    min-height: 100vh;
    flex-direction: column;
    width: 50%;
    padding: 5% 10%;
}

@media screen and (max-width: 800px) {
    .form-screen img{
        display: none;
    }

    .form-screen-container{
        width: 100%;
        padding: 10% 10%;
    }
}